name: Reusable Node.js CI

on:
  workflow_call:
    inputs:
      node-version:
        required: false
        type: number
        default: 18

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout code
        uses: actions/checkout@v4

      # Setup Node.js
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node-version }}

      # Install dependencies
      - name: Install dependencies
        run: npm install

      # Run tests (optional, if present)
      - name: Run tests
        run: npm test --if-present
